@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .mobile-button {
    @apply flex justify-center;
  }

  .banner {
    @apply p-2 text-xl;
  }

  .bottom-bar {
    @apply flex flex-col justify-center items-center h-full text-sm;
  }

  .sidebar-content {
    @apply bg-white p-[20px] ml-[20px] shadow-indigo-500/40 transition-opacity duration-300;
  }

  .sidebar.open {
    @apply visible transition-opacity duration-300;
  }
  .sidebar {
    @apply w-full  fixed top-0 bottom-0 left-0 right-0 z-50 flex justify-end content-center invisible bg-black bg-opacity-50 transition-opacity duration-300;
  }
  .sidebar-items {
    @apply p-5 border-b-2;
  }
  .tittle_bottom {
    @apply font-bold;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(25%);
    opacity: 0;
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.textBar {
  overflow: hidden;
  white-space: nowrap;
}

.textItem {
  /* display: inline-block; */
  padding: 10px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slide-in {
  animation-name: slideIn;
}

.slide-out {
  animation-name: slideOut;
}

@keyframes fadeColor {
  0% {
    background-color: #7aeecc; /* Color inicial */
  }
  50% {
    background-color: #d5f000; /* Color mitad */
  }
  100% {
    background-color: #7aeecc; /* Color final */
  }
}

.fade-animation {
  // animation: fadeColor 6s infinite;
  // -webkit-animation: fadeColor 6s infinite;
  background-color: #7aeecc;
}

.space-dropMenu {
  margin: 10px;
}
